* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #00223b;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
  margin: 15px 0;
}

#start-page,
#lose-page {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
  background: rgb(0, 34, 59);
  background: linear-gradient(0deg, rgba(0, 34, 59, 1) 0%, rgba(2, 123, 199, 1) 100%);
  color: white;
}

#lose-page {
  display: none;
}

button#start,
button#start-again {
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 20px;
  border: none;
  margin: 10px 0;
  background-color: lightgoldenrodyellow;
}

button#start:hover,
button#start-again:hover {
  background: linear-gradient(0deg, rgba(221, 218, 154, 1) 0%, rgba(2, 123, 199, 1) 100%);
  color: white;
}

canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background-image: url('../img/bg.jpeg');
  background-size: cover;
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

.shown {
  display: flex;
}